.divForm{
    @include floatW(50%);
    margin-left: 25%;
    text-align: left;
    margin-top: 50px;
    font-size: $fontSize1;
}

.divForm>input{
    width: 100%;
}

.divForm>textarea{
    width: 100%;
}

.divFormButton{
    text-align: right;
}

.divForm>select{
    width: 100%;
    margin-top: 5px;
    border-radius: $borderRadius;
    padding: 2px;
    border: 2px solid black;
}